<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Stephan Hügel</string>
	<key>Builder Version</key>
	<string>6534.50</string>
	<key>CFBundleDisplayName</key>
	<string>MefIgnore</string>
	<key>CFBundleIdentifier</key>
	<string>com.yourcompany.mefignore</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>script.js</string>
			</array>
		</dict>
		<key>Whitelist</key>
		<array>
			<string>http://*.metafilter.com/*/*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Ignore selected MetaFilter users</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://github.com/downloads/urschrei/mefignore/update.plist</string>
	<key>Website</key>
	<string>https://github.com/urschrei/mefignore</string>
</dict>
</plist>
